.home-nav {
	font-size: 1.7rem;
	width: 100%;
	overflow: hidden;
	opacity: 0.9;
	background-color: var(--color-white);
	box-shadow: 0px 5px 8px 0px rgba(128, 120, 120, 0.35);
	-webkit-box-shadow: 0px 5px 8px 0px rgba(128, 120, 120, 0.35);
	-moz-box-shadow: 0px 5px 8px 0px #80787859;
	margin-bottom: var(--size-1);
}

.navigation-box {
	padding: var(--size-4);
	color: var(--color-black);
}

.logo-box {
	font-family: 'Rowdies', cursive;
	font-size: 5rem;
	position: relative;
}

.logo-secondary {
	font-size: var(--size-2);
	position: absolute;
	right: 0;
	bottom: -0.5rem;
}

.logo-primary {
	border-top: 3px solid var(--color-primary);
}

.nav-child > .btn-tertiary-icon {
	padding: 0;
	margin: 0;
}
.nav-search {
	width: 50%;
}
.basic-input {
	padding: 1rem;
}
.nav-child:hover,
.menu-item:hover,
.btn-tertiary-icon:hover {
	color: var(--color-primary);
}
.nav-search-mobile {
	display: none;
}

@media (max-width: 480px) {
	.logo-box {
		font-size: 3rem;
	}
	.logo-secondary {
		font-size: var(--size-2);
		position: absolute;
		right: 0;
		bottom: -1.2rem;
	}
	.nav-search {
		display: none;
	}
	.nav-search-mobile {
		display: block;
	}
}
