.sidebar-container {
	width: 100vw;
	position: sticky;
	bottom: 0;
	padding: 1rem 0px;
	/* margin-bottom: 1rem; */
	font-size: 1.3rem;
	background-color: var(--color-white);
	border-top: 1px solid var(--color-grey-light-2);
}
.sidebar-list {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	/* align-items: center; */
	/* text-align: center; */
}
.sidebar-item {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--color-grey-dark-2);
}
.sidebar-item-icon {
	font-size: 1.8rem;
}

.is-selected {
	color: var(--color-grey-dark-3);
}
@media (min-width: 480px) {
	.sidebar-container {
		position: sticky;
		left: 0;
		bottom: 0;
		border-top: none;
		width: max-content;
		border-right: 1px solid var(--color-grey-light-2);
		padding: 2rem;
	}
	.sidebar-list {
		flex-direction: column;
	}
	.sidebar-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 2rem 0;
	}
}
